<div class="row" id="services-products">
  <div class="col-md-10 mx-auto">
    <div class="row">
        <div class="col-md-6">
            <h2>Services</h2>
              <ul>
                <li>Consultation</li>
                <li>Project Coordination</li>
                <li>Planning</li>
                <li>Warranty Services</li>
              </ul>
          </div>
          <div class="col-md-6">
            <h2>Products</h2>
              <ul>
                <li>Appliances</li>
                <li>Tools</li>
                <li>Supplies</li>
                <li>Contractors</li>
            </ul>
        </div>
    </div>
    
  </div>
  
</div>
